<%= render "shared/header" %>

<div class="user_main">
  <div class="member">会員情報入力</div>
  <div class="session_form">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', model: @user %>
      <div class="field">
        <%= f.label :email, "Eメールアドレス",class: "form_text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form_field" %>
      </div>
    
      <div class="field">
        <%= f.label :password, "パスワード",class: "form_text" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form_field" %>
      </div>
        
      <div class="actions">
        <%= f.submit "ログイン",class:"form_submit" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer"%>