<%= render "shared/header" %>

 <div class="food_img" style="background-image: url(<%= '' %>);">
      <div class="more">
        <span>トップページ作成中</span>
        <%# <ul class="more_list"> %>
          <%# <li> %>
            <%# <%= link_to '詳細', food_path(food.id) %> 
          <%# </li> %>
          <%# <% if user_signed_in? && current_user.id == tweet.user_id %>
            <%# <li> %>
              <%# <%= link_to '編集', edit_tweet_path(tweet.id) %> 
            <%# </li> %>
            <%# <li> %>
              <%# <%= link_to '削除', tweet_path(tweet.id), data: { turbo_method: :delete } %> 
            <%# </li> %>
          <%# <% end %> 
        <%# </ul> %>
      </div>
      <p></p>
      <span class="name">
        <a href="/users/">
          <span></span>
        </a>
      </span>
 </div>






<%= render "shared/footer"%>