<%= render "shared/header" %>

<div class="main">
  <div class="food_form">
  <%= form_with(model: @food, local: true) do |form| %>
    <%= render 'shared/error_messages', model:form.object %>
    <label class="form_file">
      <span class="img-f">画像を選択する</span>
      <%= form.file_field :image, placeholder: "Image Url",class: "form_img" %>
    </label>
    <div class="form_name">
      <%= form.text_field :name, placeholder: "タイトル", rows: "10" %>
    </div>
    <div class="form_content">
    <%= form.text_field :content, placeholder: "内容" %>
    </div>
    <%= form.submit "SEND" %>
  <% end %>
  </div>
</div>

<%= render "shared/footer"%>